/* Stylesheet for GUI */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    min-width: fit-content;
    line-height: 30px;
}

.all_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.both_tracks,
.column-container,
.track0 {
    display: inline-flex;
    gap: 5px;
}

.track1 {
    display: none;
    gap: 5px;
}

#header {
    margin-top: 15px;
}

button,
select,
input,
#clear_url_button {
    border-color: slateblue;
    border-radius: 2px;
    border-width: 1.5px;
    background-color: rgb(239, 239, 239);
    border-style: solid;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-right: 30px;
    cursor: pointer;
    padding: 4px;
}

#clear_url_button {
    background-color: rgba(192, 192, 192, 0.567);
}

label {
    font-weight: bold;
}

#track0_button {
    background-color: rgb(107, 92, 204, 0.4);
}

#info_button,
#close_button {
    background-color: rgba(210, 127, 231, 0.345);
}

#close_button {
    max-width: fit-content;
    position: fixed;
    right: 0;
}

#track0_button:hover,
#track1_button:hover,
button:hover,
select:hover,
#info_button:hover,
#close_button:hover {
    background: white;
}

#clear_url_button:hover {
    background: rgba(244, 215, 156, 0.583);
}

button:active,
#info_button:active,
#close_button:active,
#clear_url_button:active {
    background-color: grey;
}

#track1_button {
    opacity: 0.5;
    background-color: rgb(148, 211, 175);
    border-color: seagreen;
}

.interval-input {
    margin-right: 0px;
    max-width: 5em;
    border-color: rgb(221, 221, 221);
}

.url-input {
    margin-right: 0px;
    min-width: 10em;
    border-color: rgb(221, 221, 221);
}

#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 10, 0.2);
    z-index: 999;
}

.information {
    background-color: white;
    max-width: 40vw;
    max-height: 60vh;
    padding: 2em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    align-items: left;
}